encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1433j26ra3wfwa922uhf9n22zmf52fe83pw5sf5vgcmup49jycvhslpqgfv"	#PASTE COPIED KEY
[git]
    autoCommit = true
    autoPush = true
